.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 5px;
    z-index: 1000;
    width: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #FFF5DC;
}
.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.modal-buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: #982828;
    color: white;
    opacity: 0.9;
    border: 2px solid #982828;

}

.modal-buttons button:hover {
    opacity: 1;
    background-color: transparent;
    color: #982828;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal h2 {
    font-family: 'inter', serif;
    font-weight: normal;
    font-size: 32px;
}