textarea,input[type="text"]{
    resize: none;
    font-size: 16px;
    font-family: inter;
}
.main{
    display: flex;
    flex-direction: column;
  
}
.t{
    padding: 3.125rem;
    text-align: center;
    align-self: stretch;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 0.0625rem;
    margin-bottom: 2rem;
}
.t1{
  font-weight: 400;
  font-size: 1.2rem;
}
.titleform{
  font-weight: 400;
  font-size: 1.6rem;
  margin-block:1rem;
}
.Hold{
  display: flex;
  width:70%;
  flex-direction: row;
  justify-content: space-between;
  min-height: 400px; /* Set a minimum height for the container */
  flex-wrap: wrap;
  margin-inline:auto;
  gap: 40px;

}


.text{
  width: 16rem;
  height: auto;

  box-sizing: border-box;
  font-size: 1rem;

}
.text2{
    min-width: 16.4rem;
    min-height: 2rem;
    margin-top: 0.3rem;
}
.product-category-container{
  flex-grow: 1;
}
.product-attributes-container{
  flex-grow: 1;
}
.form1{
display: flex;
flex-direction: column;
justify-content: center;
padding: 32px;
gap: 40px;
height: 32rem;
background: #FFF5DC;
border-radius: 9px;
}
.form2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 39px 61px;
  gap: 17px;
  width: 100%;
  height: 32rem;
  background-color: var(--form-background-color, #FFF5DC);
  border-radius: 9px;
}

:root {
  --form-background-color: #FFF5DC;
}

@media screen and (max-width: 900px) {
  .form2 {
    width: 100%;
    padding: 20px;
    height: auto;

  }
  .form1 {
    width: 100%;
    padding: 20px;
    height: auto;
  }
  .Holder{
    width: 100%;
  display: flex;
  height: 100%;
  flex-wrap: wrap;

  }
}

.imgInsert{
margin-left: 1.5%;
    width: 25rem;
height: 25rem;

}
.Holderimages{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex-wrap:wrap;
    padding: 0;
}

.category-name-container{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.category-select{
  width: 250px;
  line-height: 32px;
  max-width: 250px;
  font-weight: 700;
}
.category-container{
  display: flex;
  flex-direction: column;
}
.category-container p{
  margin-top: -10px;
  margin-bottom: 7px;
}
.name-container{
}

.button{
    width: 242px;
    height: 55px;
    border: none;
    
}
.Holder{
  width: 70%;
display: flex;
height: 100%;
flex-wrap: wrap;
}
.productImg-input{
  display: none;
}
.Holder div{
  cursor: pointer;
  width: 100%;
}
.Holder div img{
  border-radius: 15px;
  object-fit: cover;
}

.tempImg{
 margin-top: 2rem;
width: 100%;

height: 20rem;
object-fit:fill;
}
input[type="file"]{
    margin-inline: auto;

}
input[type="file"]::file-selector-button {
    border: 0px ;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    height: 3rem;
    width: 8rem;
    background-color:#FDD36A;
    font-size: 1rem;
    color: white;
    font-style: normal;   
   
  }
  input[type=text] {
    width: 100%;
    padding: 10px 18px;
    margin: 12px 0;
    box-sizing: border-box;
    font-size: 1rem;
  }
  .textDiscription{
   
      width: 100%;
      height: 230px;
      margin: 12px 0;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #ffffff;
      resize: none;
    }
  
  

  input[type="file"]::file-selector-button:hover {
    background-color:#ffffff;
   border:solid #FDD36A;
    color:#FDD36A;
  }
  .h{
    height: 8rem;
    margin-block: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .buttonSubmit{
    border: 0px ;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    height: 3rem;
    width: 14rem;
    background-color:#FDD36A;
    font-size: 1.5rem;
    color: white;
    font-style: normal;   
    margin-inline: auto;
  }
  .buttonSubmit:hover{
    background-color:#ffffff;
   border:solid #FDD36A;
    color:#FDD36A;
   
  }
  .Images{
    margin-top:2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content:center;
    align-items:center;
    flex-wrap:wrap;
    background: #FFF5DC;
    width:62.83rem;
    min-height:23rem;
    padding:1.5rem;
    border-radius: 9px;
  }