.cart-container {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.buttonhome {
    height: 3rem;
    width: 12rem;
    border-color: aliceblue;
    border: 2px solid;
    background: #982828;
    border-radius: 5px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    transition: box-shadow 0.15s;
}

.buttonhome:hover {
    background-color: white;
    color: #982828;
    border-color: #982828;
}

.cart-empty {
    font-size: 20px;
    margin-top: 12rem;
    color: rgb(84, 84, 84);
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.start-shopping {
    color: gray;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.w {
    width: 36rem;
    height: 4rem;
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    line-height: 3.625rem;
}

.cart-container {
    padding: 2rem 4rem;
}
.cart-summary {
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: none;
    padding-top: 6rem;
}

.clear-btn {
    width: 130px;
    height: 40px;
    border-radius: 9px;
    font-weight: 400;
    letter-spacing: 1.15px;
    border: 0.5px solid #982828;
    color: #982828;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.15s;

}

.clear-btn :hover {
    background-color: #982828;
    color: white;
    border-color: #982828;

}

.cart-checkout {
    width: 100%;
}

.cart-checkout .total {
    display: flex;
    justify-content: space-between;
    font-size: 1.63rem;
}

.cart-checkout .amount {
    font-weight: 550;
    font-size: 1.7rem;
}



.cart-checkout button {
    width: 20rem;
    height: 3rem;
    font-weight: 400;
    border-color: aliceblue;
    border: 2px solid;
    background: #982828;
    border-radius: 9px;
    color: white;
    margin-top: 1.5rem;

    font-style: normal;
    font-size: 1.3rem;
    line-height: 24px;
    transition: box-shadow 0.15s;
}

.cart-checkout button:hover {
    background-color: white;
    color: #982828;
    border-color: #982828;



}

.continue-shopping,
.start-shopping {
    margin-top: 1rem;
}

.continue-shopping a,
.start-shopping a {
    color: #2a2929;
    text-decoration: none;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
    margin-left: 0.5rem;
}
.cart-product {
    display: flex;
    gap: 2rem;
    background-color: #fff9e9;
    margin: 3rem;
    padding: 2rem;
    max-height: 20rem;
    min-height: 18rem;

    width: 42rem;
    align-self: center;
    border-radius: 8px;

  }
  
  .img-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 12rem;
    max-height: 100%;
  }
  
  .product-image {
    max-width: 12rem;
    height: 100%;
  }
  
  .cart-info-title_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Quantity-price {
    font-size: 1.6rem;
    font-weight: bold;
  }
  
  .head {
    font-size: 2rem;
  }
  
  .product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-info-rate {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
  }
  
  .headline {
    font-size: 1.45rem;
    font-weight: bold;
  }


  
  .cart-info-buttons {
    display: flex;
    gap: 2rem;
  }
  
  .remove-button {
    background-color: #982828;
    border: 0;
    color: white;
    cursor: pointer;
    height: 2.5rem;
    width: 7rem;
    font-size: 1rem;
  }
  
  .cart-product-quantity {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 2.6rem;
    width: 6.8rem;
    font-size: 1rem;
    border: 2px solid #0b0b0b;
    border-radius: 9px;
  }
  
  .cart-product-quantity button {
    border: none;
    outline: none;
    background: none;
    padding: 0.7rem 1rem;
    transition: 1ms;
  }
  .cart-product-quantityL:hover {
    color: #ffffff;
    background-color: #000;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    }
    .cart-product-quantityR:hover {
        color: #ffffff;
        background-color: #000;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    
        }
   .cart-product-quantity .count {
    padding: 0.7rem;
  }
  
  .remove-button:hover {
    background-color: #fff9e9;
    color: #982828;
    border: 2px solid #982828;
  }
  
