.cart-container {
	display: flex;
	flex-direction: column;
	margin: 50px 0;
	margin-left: 100px;
}

.buttonhome {
	height: 3rem;
	width: 12rem;
	border-color: aliceblue;
	border: 2px solid;
	background: #982828;
	border-radius: 5px;
	color: white;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	transition: box-shadow 0.15s;
}

.buttonhome:hover {
	background-color: white;
	color: #982828;
	border-color: #982828;
}

.cart-empty {
	padding: 80px;
	font-size: 20px;
	color: rgb(84, 84, 84);
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.start-shopping {
	color: gray;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.w {
	width: 100%;
	height: 4rem;
	font-style: normal;
	font-weight: 300;
	font-size: 2.8rem;
	line-height: 3.625rem;
	align-items: center;
}

.cart-summary {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 270px;
	right: 30px;
	width: 300px;
	border: 2px solid #868e96;
	border-radius: 5px;
	padding: 10px;
}

.clear-btn :hover {
	background-color: #982828;
	color: white;
	border-color: #982828;
}

.cart-checkout {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px;
}

.cart-checkout .total {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	border-bottom: 1px solid #868e96;
	padding-bottom: 10px;
}

.cart-checkout .amount {
	font-size: 18px;
}

.cart-checkout button {
	padding: 10px 20px;
	border: 2px solid;
	background: #982828;
	border-radius: 5px;
	color: white;
	font-size: 16px;
}
.checkout-buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.cart-checkout button:hover {
	background-color: white;
	color: #982828;
	border-color: #982828;
}
@media (max-width: 900px) {
	.w {
		width: 100%;
		height: 2rem;
		font-style: normal;
		font-weight: 300;
		font-size: 2rem;
		line-height: 3rem;
		align-items: center;
	}
}

.start-shopping {
	margin-top: 1rem;
}

.continue-shopping {
	margin-bottom: 1rem;
}

.continue-shopping a,
.start-shopping a {
	color: #2a2929;
	text-decoration: none;
	display: flex;
	font-size: 1.2rem;
	align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
	margin-left: 0.5rem;
}

.cart-product {
	display: flex;
	gap: 30px;
	background-color: #fff9e9;
	border-radius: 5px;
	padding: 30px;
	width: 60%;
	justify-content: space-around;
}

.product-image-cart {
	border-radius: 5px;
	width: 250px;
	height: 250px;
	object-fit: cover;
}

.cart-info-title_price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Quantity-price {
	font-size: 1.6rem;
	font-weight: 540;
}

.product-info {
	width: 50%;
}

.headline {
	font-size: 1.45rem;
}

.cart-info-buttons {
	display: flex;
	gap: 2rem;
}

.remove-button {
	background-color: #982828;
	border: 0;
	color: white;
	cursor: pointer;
	height: 2.5rem;
	width: 7rem;
	font-size: 1rem;
}

.cart-product-quantity {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 2.6rem;
	width: 6.5rem;
	font-size: 1rem;
	border: 2px solid #0b0b0b;
	border-radius: 5px;
}
.cart-items {
	margin: 50px 0;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.cart-product-quantityL:hover {
	color: #ffffff;
	background-color: #000;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.cart-product-quantity button {
	outline: none;
	background: none;
	padding: 0.7rem 1rem;
	border: none;
	width: 100%;
	height: 100%;
	transition: 1ms;
}
.cart-product-quantityR:hover {
	color: #ffffff;
	background-color: #000;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.cart-product-quantity .count {
	margin-left: 0.4rem;
	margin-right: 0.4rem;
	font-weight: 300;
	margin-block: auto;
}

.remove-button:hover {
	background-color: #fff9e9;
	color: #982828;
	border: 2px solid #982828;
}

.CS-word:hover {
	color: #982828;
}
