footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 80px;
	padding: 50px;
	background-color: #212529;
	color: #e9ecef;
}

.footer-section {
  padding: 0;
	display: flex;
	justify-content: space-between;
}

.footer-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer-link {
	color: #e9ecef;
	text-decoration: none;
	font-size: 16px;
}

.footer-title {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	padding-bottom: 10px;
	text-transform: uppercase;
}

.footer-logo {
  width: 35px;
}

.footer-images {
	display: flex;
	gap: 15px;
	align-items: center;
}
.logos {
	justify-content: space-around;
}
.copyright{
	align-items: center;
	justify-content: center;
}

.footer-column input[type="text"]{
	margin: 0;
	border-radius: 5px;
	border: none;
	width: fit-content
}
.footer-column input[type="text"]:focus-visible{
	outline: none;
}