.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background: #FFF9E9;
}
.create-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5rem;
    font-family: 'Inter';
    font-style: normal;
    background: #FFF9E9;
}
.Newpass-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem; 
    font-family: 'Inter';
    font-style: normal;
    background: #FFF9E9;
    height: 100%;
    /* gap: 2rem; */
}
#email-e,#pass-e,#repass-e,#email-ee,#pass-ee,#name-ee,#pass-eee,#repass-ee{
    width: 17.75rem;
    height: 2rem;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background: #FFF9E9;
    align-self: stretch;
    padding: 0.5rem;
}
.form--ele{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.68rem;
    width: 18.75rem;
    height: 3.1rem;
}

.form--butt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    width: 17.75rem;
    height: 2.5rem;
    background: #000000;
    border-radius: 3px;
    color: white;
    margin-top: 1rem;
}
.label--input{
    display: flex;
    flex-direction: column;
    align-items: center;
   /*  gap: 0.5rem; */
}
.checkk{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    gap:1rem;
    margin-top: 1rem;
}
#check,#remember{
    width: 1rem;
    accent-color: #FFF9E9;
    color: #FFF9E9;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 17.75rem;
    height: 0.68rem;
    margin-top: 1rem;
}
#footer-t{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.39);
}
#footer--c{
    font-family: 'Inter';
    font-style: normal;
    color: rgba(0, 102, 255, 0.39);
}