.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  font-style: normal;
  background: #fff9e9;
}
.create-form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  background: #fff9e9;
}
.Newpass-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-style: normal;
  background: #fff9e9;
  height: 100%;
  gap: 20px;
  /* gap: 2rem; */
}
#email-e,
#pass-e,
#repass-e,
#email-ee,
#pass-ee,
#name-ee,
#pass-eee,
#repass-ee {
  width: 100%;
  height: 2rem;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: #fff9e9;
  align-self: stretch;
  padding: 0.5rem;
}
input[type="text"]#name-ee{
  margin: 0;
}

.form--ele {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.form--butt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  background: #000000;
  border-radius: 3px;
  border: 0;
  color: white;
  cursor: pointer;
}

.form--butt:hover {
  background-color: #fff9e900;
  color: #000000;
  border: 1px solid black;
  border-radius: 3pxin;
}
.label--input {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  gap: 0.5rem; */
}
.checkk {
  font-size: 14px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
#check,
#remember {
  width: 16px;
  accent-color: #fff9e9;
  color: #fff9e9;
  accent-color: #7A2B64;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

#footer-t {
  display: flex;
  gap: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.form--ele label{
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}

.checkk label {
  font-weight: 500;
  margin: 0px;
}

.footer a {
  font-size: 14px;
  align-self: flex-start;
  color: #9B4683;
}