.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  font-style: normal;
  background: #fff9e9;
}
.create-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.5rem;
  font-style: normal;
  background: #fff9e9;
}
.Newpass-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1rem;
  font-style: normal;
  background: #fff9e9;
  height: 100%;
  /* gap: 2rem; */
}
#email-e,
#pass-e,
#repass-e,
#email-ee,
#pass-ee,
#name-ee,
#pass-eee,
#repass-ee {
  width: 17.75rem;
  height: 2rem;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background: #fff9e9;
  align-self: stretch;
  padding: 0.5rem;
}
.form--ele {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.68rem;
  width: 18.75rem;
  height: 3.1rem;
}

.form--butt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 17.75rem;
  height: 2.5rem;
  background: #000000;
  border-radius: 3px;
  border: 0;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}

.form--butt:hover {
  background-color: #fff9e900;
  color: #000000;
  border: 1px solid black;
  border-radius: 3pxin;
}
.label--input {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  gap: 0.5rem; */
}
.checkk {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  margin-top: 1rem;
}
#check,
#remember {
  width: 1rem;
  accent-color: #fff9e9;
  color: #fff9e9;
}

#check,#remember {
  margin-bottom: 0.7rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 17.75rem;
  height: 0.68rem;
  margin-top: 1rem;
}
#footer-t {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.39);
}
