.google-container {
  margin: 40px 0 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.google--butt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  gap: 0.6rem;
  border: 1px solid #000000;
  border-radius: 3px;
  background: #fff9e9;
  margin-bottom: 1rem;
  cursor: pointer;
}

.google--butt:hover {
  background-color: #000000;
  color: white;
}

.google--img {
  height: 1rem;
}
.create {
  font-weight: 400;
  font-size: 1rem;
}
