.google-container {
  height: 5.8rem;
  margin-top: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.google--butt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 96%;
  height: 3.18rem;
  gap: 0.6rem;
  border: 1px solid #000000;
  border-radius: 3px;
  background: #fff9e9;
  margin-bottom: 1rem;
  cursor: pointer;
}

.google--butt:hover {
  background-color: #000000;
  color: white;
}

.google--img {
  height: 1rem;
}
.create {
  font-weight: 400;
  font-size: 1rem;
}
