.Home {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 100px;
	padding: 50px 0 200px 0;
}

.holder {
	display: flex;
	width: 80%;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	gap: 25px;
}

.holder--header {
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
}

.Home {
	display: flex;
	flex-direction: column;
}

.container {
	height: 600px;
	width: 100%;
	margin: 0;
	background-size: cover;
	background-image: url("../../public/images/Picture7.png");
	background-position: center;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 80px;
}

.elecgraph {
	text-align: center;
	top: 30%;
	left: 50%;
	color: white;
	padding: 20px;
	height: 8.8125rem;
	font-style: normal;
	font-weight: 600;
	font-size: 3rem;
	line-height: 3.625rem;
}

.elecbutton {
	padding: 20px 50px;
	border: none;
	background: #7a2b64;
	border-radius: 5px;
	color: white;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	transition: box-shadow 0.15s;
}

.elecbutton:hover {
	background-color: white;
	color: #7a2b64;
}

.HAdata {
	display: flex;
	justify-content: space-between;
	width: 100%;
	
	/* justify-content: center; */
	gap: 20px;
}

	

.Mixers {
	background: #ffe7ab;
}
.Ovens {
	background: #e77f7f;
}
.Refrigerators {
	background: #95c2db;
}

.imgHA {
	width: 100%;
	height: 70%;
	border-radius: 0.4rem;
	aspect-ratio: 4/4;
	object-fit: cover;
}

.imgC {
	width: 100%;
	height: 70%;
	aspect-ratio: 4/4;
	border-radius: 0.4rem;
	object-fit: cover;
}

.Men {
	background: #95c2db;
}

.Women {
	background: #e77f7f;
}

.Kids {
	background: #e09ece;
}

.home-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	gap: 30px;
	padding: 40px 20px;
}

.Home .title {
	text-align: left;
	align-self: stretch;
	font-style: normal;
	font-weight: 500;
	
	font-size: 1.625rem;
	line-height: 3.0625rem;
	/* color: #000000; */
}

.b {
  padding: 10px 20px;
	border: 2px solid #000000;
	border-radius: 5px;
}

.b:hover {
	background-color: rgb(6, 6, 6);
	color: #faf9fa;
}

.cards {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 30px;
	margin-bottom: 100px;
}

.card {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: #fff9e9;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.add-button {
	align-self: center;
	background-color: #982828;
	border: 0;
	color: white;
	cursor: pointer;
	height: 2.8rem;
	width: 7rem;
	font-size: 1rem;
}
.add-button:hover {
	background-color: #fff9e9;
	color: #982828;
	border: 1px solid;
}
.card--image {
	width: 100%;
	object-fit:contain;
	max-width: 100%;
}

.card--title {
	font-size: 1.6rem;
	display: flex;
	font-weight: 500;
	font-style: normal;
}

.Category--title {
	padding: 3.125rem;
	text-align: center;
	align-self: stretch;
	font-style: normal;
	font-weight: 400;
	font-size: 3rem;
	line-height: 0.0625rem;
	margin-bottom: 3rem;
}

.Category--title::first-letter {
	text-transform: capitalize;
}

.filter{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	gap: 10px;
	padding: 15px;
	position: absolute;
	left: 20px;
	border-radius: 5px;
	border: 2px solid #868e96;
	width: 22%;
}
.CategoryPage {
	position: relative;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	padding: 20px;
}
@media (max-width: 600px) {
	.CategoryPage {
	  width: 100%;
	  padding: 20px;
	  height: auto;
	}
  }
.filter-button {
	background-color: #982828;
	border: 0;
	color: white;
	cursor: pointer;
	height: 2.6rem;
	width: 100%;
	font-size: 1.3rem;
	border-radius: 5px;
	box-sizing: border-box;
}
.filter-button:hover {
	background-color: white;
	color: #982828;
	border-color: #982828;
	border: 1px solid;
}
.word-filter {
	font-size: 1.6rem;
	font-weight: 400;
}
.form-filter {
	height: 1.5rem;
}
.word1-filter {
	font-size: 1.3rem;
	font-weight: 400;
	margin-bottom: 0.7rem;
	margin-top: 0.8rem;

}
input[type="number"] {
	width: 100%;
	padding: 10px 18px;
	margin: 0px 0;
	box-sizing: border-box;
	font-size: 1.2rem;
}


.no-products-placeholder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	width: 75%;
	font-family: 'GM Garamond', serif;
	font-size: 48px;
}