@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

.item-preview {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1rem;
  padding-inline: 5rem;
  padding-top: 4rem;
}

.item-info {
  display: flex;
  gap: 6rem;
  margin-bottom: 5rem;
}

@media screen and (width < 600px) {
  .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.images {
  display: flex;
  flex-direction: column;
  max-width: 25vw;
}

.main-image {
  margin-bottom: 3rem;
  max-width: 100%;
  max-height: 100%;
}

.main-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 30rem;
  max-width: 30rem;
  max-height: 30rem;
}

.other-images {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  max-width: 100%;
  overflow-x: auto;
  padding: 10px;
}

.other {
  max-width: 8rem;
  cursor: pointer;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.other-images::-webkit-scrollbar {
  width: 5px;
}

.other-images::-webkit-scrollbar-thumb {
  background-color: rgb(78, 78, 78);
  border-radius: 20px;
  border: 4px solid rgb(255, 255, 255);
}

.other:focus {
  outline: 2px solid;
  outline-offset: 5px;
}

.other.active {
  opacity: 0.2;
}

.item-text p {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.rate {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.add-review {
  color: black;
  text-decoration: none;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.add-review:hover {
  opacity: 0.7;
}

.desc-title {
  font-size: 2rem;
  font-weight: bold;
}

.desc-text {
  margin-bottom: 3rem;
}

.buying {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.price {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 2rem;
}

.item-text button {
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.67rem 2rem;
  border: 0px;
  border-radius: 2rem;
  color: #ffffff;
  background-color: hsl(317, 48%, 32%);
  cursor: pointer;
  margin-top: 2rem;
  width: 15rem;
}

.item-text button:hover {
  background-color: hsl(317, 48%, 28%);
}

.add-to-cart {
  color: white;
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media screen and (width < 600px) {
  .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.reviews-selection {
  display: flex;
  gap: 2rem;
}

.reviews {
  margin: 3rem 5rem;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}
