.product {
  display: flex;
  gap: 2rem;
  background-color: #fff9e9;
  height: 12rem;
  margin: 5rem;
  padding: 2rem;
}

.product-image {
  width: 10rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
